.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -15%;
  right: auto;
  bottom: 0;
  left: -5%;
  background-color: #e5e5e5;
}


  .screenshot-card {
  position: absolute;
  left: 0%;
  top: -35%;
  bottom: 0%;
  width: 400px;
  height: 700px;
  background-color: #333;
  border-radius: 0px;
  transform: rotate(37deg);
  opacity: 0.3;
 }
 
  .screenshot-card-2 {
  position: absolute;
  left: 0%;
  top: -43%;
  bottom: 0%;
  width: 450px;
  height: 700px;
  background-color: #ffffff;
  border-radius: 0px;
  transform: rotate(33deg);
  opacity: 0.3;
 }
 
   .screenshot-card-3 {
  position: absolute;
  right: -13%;
  bottom: -40%;
  width: 450px;
  height: 700px;
  background-color: #ffffff;
  border-radius: 0px;
  transform: rotate(33deg);
  opacity: 0.3;
 }
 
 



/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
